# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages
- Commonly used Libraries
- Different data science tools
- Data Science applications

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Pandas
4. Scikit

|Data Science Tools|
--------------------
|R Studio|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Karthikeyen